.modal {
  background-color: rgba(0, 0, 0, 50%);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  padding: 0 19px;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s linear;
}

.modal_opened {
  display: flex;
  visibility: visible;
  opacity: 1;
}

.modal__content {
  background-color: white;
  padding: 34px 36px 0;
  position: relative;
  border-radius: 10px;
  margin: 0;
  width: 430px;
}

.modal__content-preview {
  background: transparent;
  margin: 34px 36px 0;
  position: relative;
  border-radius: 10px;
  max-width: 75vw;
  max-height: 75vh;
  width: auto;
  padding: 0;
}

.modal__image {
  height: 540px;
  max-width: 816px;
  display: flex;
}

.modal__caption {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  margin: 10px auto;
}

.modal__close {
  background-image: url(../Images/Close\ Icon.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  position: absolute;
  border: none;
  width: 40px;
  height: 40px;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  opacity: 100%;
}

.modal__close:hover {
  opacity: 60%;
  cursor: pointer;
}

.modal__heading {
  font-family: "Inter", Arial, sans-serif;
  color: #000;
  font-size: 24px;
  font-weight: 900;
  margin: 0;
}

.modal__form {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-top: 54px;
}

.modal__input:first-of-type {
  padding: 0;
  width: 100%;
  height: 27px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 20%);
  margin: 0 0 30px;
}

.modal__input:last-of-type {
  padding: 0;
  width: 100%;
  height: 27px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 20%);
  display: flex;
}

.modal__input_type_error:invalid {
  padding: 0;
  height: 27px;
  width: 100%;
  border: none;
  bottom: 1px solid #ff0000;
}

/* .modal__error-title {
  font-size: 12px;
  color: #ff0000;
  margin: 30px 0;
  position: absolute;
}

.modal__error-description {
  font-size: 12px;
  color: #ff0000;
  position: absolute;
  margin: 90px 0 0;
} */

.modal__error {
  color: #ff0000;
  display: block;
  visibility: hidden;
  font-size: 12px;
  line-height: 12px;
  position: absolute;
  top: calc(100% - 30px);
  left: 0;
}

.modal__button:enabled {
  background: #000;
  color: white;
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  padding: 0;
  margin: 48px auto 36px;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 2px;
  opacity: 100%;
}

.modal__button:hover {
  opacity: 80%;
  cursor: pointer;
}

.modal__button:disabled {
  background: #fff;
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  margin: 48px auto 36px;
  width: 100%;
  height: 50px;
  border: 1px, solid, rgba(0, 0, 0, 20%);
  border-radius: 2px;
}

@media screen and (max-width: 620px) and (min-width: 320px) {
  .modal__content {
    padding: 25px 22px 0;
    width: 282px;
    max-height: 322px;
  }

  .modal__close {
    width: 26px;
    height: 26px;
    left: calc(100% - 25px);
    margin-bottom: 14px;
  }

  .modal__form {
    margin-top: 75px;
  }

  .modal__heading {
    font-size: 18px;
    line-height: 22px;
  }

  .modal__image {
    height: 299px;
    max-width: 240px;
    display: flex;
  }

  .modal__content-preview {
    background: transparent;
    margin: 34px 36px 0;
    position: relative;
    border-radius: 10px;
    max-width: 75vw;
    max-height: 75vh;
    width: auto;
    padding: 0;
  }

  .modal__button:enabled {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin: 46px 0 25px;
  }

  .modal__button:disabled {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin: 46px 0 25px;
  }
}
