.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
  
}

.profile__image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin-right: 30px;
}

.profile-picture{
  position: relative;
  display: inline-block;
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
}

.profile-picture img {
  display: block;
  margin: 0 auto;
}

.profile-container{
  
  justify-content: center;
  align-items: center;
  position: relative;

}

/* .edit-icon {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
} */

.profile-picture:hover.edit-icon {
  display: block;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
  gap: 14px 18px;
  align-items: center;
}

.profile__title {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  grid-area: title;
  margin: 0;
  max-width: 375px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.avatar__edit-icon {
  position: absolute;
  /* display: none; */
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: url(../Images/edit-button.svg) no-repeat center;
  opacity: 0;
  border: none;
}

.avatar__edit-icon:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__edit-button {
  background: transparent url(../Images/edit-button.svg) center no-repeat;
  height: 24px;
  width: 24px;
  grid-area: button;
  margin-left: 18px;
  border: 1px solid #ffffff;
  margin-right: 10px;
  align-self: center;
}

.profile__edit-button:hover {
  opacity: 60%;
  cursor: pointer;
}

.profile__add-button {
  background: transparent url(../Images/add-button.svg) center no-repeat;
  width: 150px;
  height: 50px;
  margin: 0 0 0 auto;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.profile__add-button:hover {
  opacity: 60%;
  cursor: pointer;
}

.profile__description {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  grid-area: description;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 373px;
  overflow: hidden;
}

@media screen and (max-width: 890px) {
  .profile {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 620px) {
  .profile {
    flex-direction: column;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 30px 0 0;
    max-width: 282px;
  }

  .profile__title {
    max-width: 196px;
    font-size: 22px;
    line-height: 27px;
  }

  .profile__description {
    width: 100%;
    text-align: center;
    max-width: 282px;
    font-size: 14px;
    line-height: 17px;
  }

  .profile__add-button {
    max-width: 282px;
    margin: 35px 0 0 0;
    width: 100%;
    background-size: 16px;

  }

  .profile__image {
    margin-right: 0;
  }

  .profile__edit-button{
    width: 18px;
    height: 18px;
    margin-right: 0;
    margin-left: 0;
    background-size: 7.5;
  }

  .profile-picture{
    width: 80px;
    height: 80px;
  }
}
